.about-container {
  text-align: center;
  padding: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

.about-container.light {
  background: linear-gradient(120deg, #f0f0f0, #ffffff);
  color: #333;
}

.about-container.dark {
  background: linear-gradient(120deg, #333, #555);
  color: #f0f0f0;
}

.about-header {
  margin-bottom: 2rem;
}

.about-header h1 {
  font-size: 2.5rem;
  margin-top: 65px;
}

.about-header p {
  font-size: 1.2rem;
}

.about-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
}


.light .card {
  background: #fff;
  color: #333;
}

.light .card-icon {
  color: #dc3545;
}


.dark .card {
  background: #444;
  color: #f0f0f0;
}

.dark .card-icon {
  color: #ff9800;
}
