
.footer {
  background-color: #012144;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 300px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h2,
.footer-section h3 {
  border-bottom: 2px solid #f87620;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: yellow;
}

.footer-bottom {
  background-color: #011a36;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.app.dark .footer {
  background-color: #030303; 
}

.app.dark .footer-bottom {
  background-color: #020101; 
}
