
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0; 
  font-size: 0.8rem;
  line-height: 1.5; 
  overflow: hidden; 
  white-space: nowrap; 
  height: 17px; 
  
}

.header p {
  margin: 0;
}
