.homepage-container {
    position: relative;
    text-align: center;
    color: #fff;
    height: calc(100vh - 65px);
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}

.carousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.carousel .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(138, 122, 122, 0.7);
    box-sizing: border-box; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
}

.landing-page-content {
    text-align: center;
    max-width: 90%; 
    margin: 0; 
    padding: 0; 
}

.main-heading {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.landing-page-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.explore-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #012144;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #0056b3;
}