.signup-form {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 9%;
}

.signup-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e55b00, #ff7e1a);
  clip-path: circle(50% at right 80%);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.signup-form:hover::before {
  clip-path: circle(150% at right 100%);
}

.signup-form h1 {
  font-size: 36px;
  color: #012144;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.signup-form h2 {
  color: #333;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 30px;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  text-align: left;
  font-weight: 500;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus {
  border-color: #e55b00;
  outline: none;
}

.signup-form input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}

.signup-form .error {
  color: #e55b00;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #e55b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #ff7e1a;
}

@media (max-width: 500px) {
  .signup-form {
      padding: 20px;
  }

  .signup-form h2 {
      font-size: 26px;
  }

  .signup-form button {
      font-size: 16px;
      padding: 10px;
  }
}
