body {
    background-color: #FDFFF7;
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
  }
  .app {
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex: 1;
    padding-bottom: 20px;
  }
  .homepage-wrapper + .footer-container{
    margin-top: 500px; 
    
}
